* sql로 정보 추출(조인, groupby 등등)

* EDA나 간단한 분석(회귀분석도 막 ANOVA 뽑거나 그러지 말고 그냥 직선만 그리세요)
> 데이터 시각화로 잘 표현해주는 것이 중요함. ㅇㅇ

* 발표에 포함해야 할 20개의 내용 정도를 정리해서 올려줄 예정, 이걸 평가기준이라고 생각하면 됨.

In [30]:
import pandas as pd
import sqlite3

In [31]:
con = sqlite3.connect(":memory:")  ## Access to memory
con = sqlite3.connect("./KOCW_py.db")  ## Access to DB file or Create DB file
con.execute("PRAGMA foreign_keys = 1")

In [35]:
table = """ CREATE TABLE norm_course (
            강의코드 INT PRIMARY KEY,
            강의명 CHAR(25),
            강의년도 INT,
            강의학기 INT,
            제공대학명 CHAR(25),
            제공일자 DATE
        ); """

cur = con.cursor()
cur.execute(table)

In [36]:
cur.execute("SELECT * FROM norm_course")
print(cur.fetchall())

[]

In [37]:
df = pd.read_excel("./norm_course.xlsx", index_col = 0)
df

          강의코드         강의명  강의년도  강의학기    제공대학명        제공일자
0      1095582       대학수학1  2015     1    한경대학교  2015-08-30
1      1104074         수학1  2015     1    가천대학교  2015-09-14
2      1110603        미적분학  2015     1    단국대학교  2015-10-08
3      1112400       공학수학1  2015     1   성균관대학교  2015-11-02
4      1118072         정수론  2015     2  덕성여자대학교  2015-12-16
...        ...         ...   ...   ...      ...         ...
16809  1430653  다변량통계학(II)  2021     2    부산대학교  2015-01-08
16810  1443736  AI를 위한 딥러닝  2022     1    중앙대학교  2016-04-07
16811  1445911    회귀분석(II)  2021     2    부산대학교  2017-10-17
16812   820840      과학사 이해  2013     2    신라대학교  2012-02-29
16813  1398367   예방치과학의 이해  2020     2  울산과학대학교  2013-01-31

[16814 rows x 6 columns]

In [38]:
## 기존 있는 스키마에 집어넣음, 인덱스 열 제거
df.to_sql('norm_course', con, if_exists = "append", index = False)

16814

In [40]:
cur.execute("SELECT * FROM norm_course")
pd.DataFrame(cur.fetchall()).set_axis(["강의코드", "강의명"])

             0           1     2  3        4           5
0      1095582       대학수학1  2015  1    한경대학교  2015-08-30
1      1104074         수학1  2015  1    가천대학교  2015-09-14
2      1110603        미적분학  2015  1    단국대학교  2015-10-08
3      1112400       공학수학1  2015  1   성균관대학교  2015-11-02
4      1118072         정수론  2015  2  덕성여자대학교  2015-12-16
...        ...         ...   ... ..      ...         ...
16809  1430653  다변량통계학(II)  2021  2    부산대학교  2015-01-08
16810  1443736  AI를 위한 딥러닝  2022  1    중앙대학교  2016-04-07
16811  1445911    회귀분석(II)  2021  2    부산대학교  2017-10-17
16812   820840      과학사 이해  2013  2    신라대학교  2012-02-29
16813  1398367   예방치과학의 이해  2020  2  울산과학대학교  2013-01-31

[16814 rows x 6 columns]