### 5. **R 실습**. 메이저 리그 야구선수 연봉 문제.

    Hitters 데이터는 다음과 같이 ISLR 패키지를 설치한 후 얻을 수 있다. 그런데 이 데이터에는 결측치가 존재하기 때문에 `na.omit()`함수를 사용하여 결측치를 제외하기로 한다. 실제 분석에 사용할 데이터는 263명의 야구선수에 대한 20가지의 기록으로 구성되어 있다.

In [2]:
install.packages('ISLR')
library(ISLR)
Hitters <- na.omit(Hitters)
dim(Hitters)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

[1] 263  20

    다음 질문에 답하여라

#### (1) 반응변수 `Salary`에 대하여 설명변수 `AtBat`, `Hits`, `HmRun`을 사용하여 중회귀 모형을 적합하고 분산분석표를 작성한 후 모형의 유의성을 유의수준 $\alpha = 0.01$에서 검정하여라. 변수의 자세한 내용은 다음과 같다.

* `Salary` : 1987년 계약 연봉(단위 : 1,000달러)
* `AtBat` : 1987년 타수
* `Hits` : 1987년 안타 수
* `HmRun` : 1987년 홈런 개수

`-` `model`에 중회귀 모형을 적합

In [6]:
model <- lm(Salary ~ AtBat + Hits + HmRun, data = Hitters)
summary(model)

Call:
lm(formula = Salary ~ AtBat + Hits + HmRun, data = Hitters)

Residuals:
    Min      1Q  Median      3Q     Max
-884.75 -214.97  -58.05  175.88 1991.53

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  158.754     75.815   2.094  0.03724 *
AtBat         -1.564      0.641  -2.440  0.01536 *
Hits           8.329      2.053   4.056 6.61e-05 ***
HmRun          9.502      3.384   2.808  0.00536 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 398.9 on 259 degrees of freedom
Multiple R-squared:  0.2271,	Adjusted R-squared:  0.2182
F-statistic: 25.37 on 3 and 259 DF,  p-value: 2.013e-14

`-` ANOVA table 호출

In [8]:
anova(model)

          Df  Sum Sq   Mean Sq   F value   Pr(>F)
AtBat       1  8309469 8309469.1 52.225108 5.542791e-12
Hits        1  2545894 2545893.8 16.000972 8.266399e-05
HmRun       1  1254597 1254596.7  7.885154 5.363637e-03
Residuals 259 41209153  159108.7        NA           NA

In [7]:
null_model <- lm(Salary ~ 1, data = Hitters)  ## 귀무가설 하의 모형

anova(null_model, model)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 262    53319113 NA       NA        NA           NA
2 259    41209153  3 12109960  25.37041 2.013148e-14

In [13]:
MSE <- anova(model)[4,3]
MSR <- anova(null_model, model)[2,4]/3

`-` 가설검정

ⅰ) $H_0 : \beta_1 = \beta_2 = 0 ~~ vs. ~~ H_1 : not ~ H_0$

ⅱ) 검정통계량 : $F_0 = \frac{MSR}{MSE} $ ~ $F(3, 259) ~~ under ~ H_0$

ⅲ) 검정통계량의 관측치

In [15]:
f_0 <- MSR/MSE
f_0

[1] 25.37041

ⅳ) 유의확률

In [17]:
pf(f_0, df1 = 3, df2 = 259, lower.tail = FALSE)

[1] 2.013148e-14

결론 : 유의확률이 유의수준 $\alpha = 0.01$보다 작으므로 귀무가설을 기각하고 대립가설을 수용한다. 즉, 해당 회귀모형은 유의하다.

#### (2) (1)에서 구한 회귀계수 추정량의 분산-공분산 행렬을 추정하여라.

회귀계수 추정량의 분산-공분산 행렬은 아래와 같이 추정할 수 있다.

In [20]:
cov_mat <- vcov(model)
cov_mat

            (Intercept) AtBat       Hits      HmRun
(Intercept) 5747.87524  -26.2127535 48.158691 21.0663196
AtBat        -26.21275    0.4108477 -1.249666 -0.4193544
Hits          48.15869   -1.2496656  4.216189  0.1404930
HmRun         21.06632   -0.4193544  0.140493 11.4506363

`-` 또는 다른 방법으로...

In [26]:
X1 = Hitters$AtBat
X2 = Hitters$Hits
X3 = Hitters$HmRun
X = cbind(1, X1, X2, X3)
y = Hitters$Salary

cov_mat2 <- solve(t(X)%*%X)*MSE
cov_mat2

              X1          X2        X3
   5747.87524 -26.2127535 48.158691 21.0663196
X1  -26.21275   0.4108477 -1.249666 -0.4193544
X2   48.15869  -1.2496656  4.216189  0.1404930
X3   21.06632  -0.4193544  0.140493 11.4506363

**끝**