> 과제를 하자!

In [5]:
df <- data.frame(
    x1 = c(195, 179, 205, 204, 201, 184, 210, 209),
    x2 = c(57, 61, 60, 62, 61, 54, 58, 61),
    y = c(81.4, 122.2, 101.7, 175.6, 150.3, 64.8, 92.1, 113.8)
)

In [9]:
x1 <- df$x1
x2 <- df$x2
y <- df$y

In [11]:
X <- cbind(1, x1, x2)
X

       x1  x2
[1,] 1 195 57
[2,] 1 179 61
[3,] 1 205 60
[4,] 1 204 62
[5,] 1 201 61
[6,] 1 184 54
[7,] 1 210 58
[8,] 1 209 61

In [22]:
XX <- t(X)%*%X

In [23]:
Xy <- t(X)%*%y

In [24]:
yy <- t(y)%*%y

In [25]:
XX_reverse <- solve(t(X)%*%X)

In [29]:
betas <- XX_reverse%*%t(X)%*%y

In [28]:
XX_reverse*3

               x1           x2
   248.6249683 -0.403796751 -2.837920471
x1  -0.4037968  0.003726798 -0.005662562
x2  -2.8379205 -0.005662562  0.066856223

In [30]:
betas

   [,1]
   -554.3112232
x1   -0.1797396
x2   11.8599927

In [31]:
-554.311 - 0.18*200 + 11.86*59

[1] 109.429

In [36]:
sum((y - mean(y))**2)

[1] 9281.079

In [39]:
t(y - X%*%betas)%*%(y - X%*%betas)

     [,1]
[1,] 2340.884

In [67]:
ls(summary(lm(y~x1+x2, data = df)))

 [1] "adj.r.squared" "aliased"       "call"          "coefficients"
 [5] "cov.unscaled"  "df"            "fstatistic"    "r.squared"
 [9] "residuals"     "sigma"         "terms"

In [65]:
9281.07875 - 2340.884

[1] 6940.195

In [78]:
2340.884/5

[1] 468.1768

In [77]:
1 - 2340.884/9281.07875*7/5

[1] 0.6468904

In [69]:
model <- lm(y~x1+x2, data = df)
tot <- lm(y~1, data = df)

In [70]:
anova(object = tot, model)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 7      9281.079 NA       NA        NA         NA
2 5      2340.884  2 6940.195  7.411938 0.03194873

In [71]:
6940.19475/2

[1] 3470.097

In [72]:
2340.884/5

[1] 468.1768

In [73]:
(6940.19475/2)/(2340.884/5)

[1] 7.411938

In [75]:
qf(0.05, df1 = 2, df2 = 5, lower.tail = FALSE)

[1] 5.786135