발표 : 6월 17일 / 6월 19일

면담 : E-R 다이어그램, 발표 면담으로 진행

> PPT? A4용지? 해보고 의견을 들어보는 방향으로

1. 어떤 DB를 썼는지
2. E-R 다이어그램 그림
3. 테이블 어떻게 만드는지(**스키마 관련**)
4. 정규화를 할 수 있다면

## 1. 라이브러리 imports

In [13]:
import sqlite3
import pandas as pd

In [8]:
con = sqlite3.connect(':memory:')  ## 메모리에 접근
con = sqlite3.connect('./test.db')  ## DB 파일에 접근 또는 생성

sql_query = """SELECT name FROM sqlite_master
            WHERE type = 'table';"""
## 테이블인 것의 이름을 전부 가져옴

cur = con.cursor()  ## con을 조작하기 위한 인스턴스 생성
cur.execute(sql_query)  ## execute query
print(cur.fetchall())  ## send query result
con.execute("PRAGMA foreign_keys = 1")  ## foreign_keys activate. 인스턴스에서 지정하는 파라메터가 아님.

[]

## 2. 데이터 베이스 생성

In [9]:
table = """ CREATE TABLE GEEK (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """
## 스키마 지정 VARCHAR : 가변문자, CHAR : 그냥 문자
cur.execute(table)
print("Table is Ready")  ## debuging

cur.execute("SELECT * FROM GEEK")
print(cur.fetchall())  ## showing all tuples

Table is Ready
[]

In [11]:
cur.execute(sql_query)  ## 테이블 네임 호출
print(cur.fetchall())

[('GEEK',)]

In [27]:
cur.execute("INSERT INTO GEEK VALUES (?,?,?,?);", ( 'Ihj@jbnu.ac.kr', 'GY', 'KIM', 10) )
## 테이블과 넣을 튜플
cur.execute("SELECT * FROM GEEK")  ## 전부가져옴
print (cur.fetchall())

cur.execute('DELETE FROM GEEK WHERE Score > 20' )  ## score가 20 이상인 튜플을 삭제
cur.execute("SELECT * FROM GEEK")
print (cur.fetchall())

[('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10)]
[('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10), ('Ihj@jbnu.ac.kr', 'GY', 'KIM', 10)]

> UNIQUE하게 두지 않았기 때문에 계속 시행하면 무한정 늘어남.

## 3. 판다스 라이브러리와의 연동

In [ ]:
import pandas as pd
df = pd.read_csv('./ZP.csv')
print(df)

df.to_sql('test', con)  ## con의 test 테이블에 df를 삽입
cur.execute("SELECT * FROM test")
print(cur.fetchall())

In [ ]:
cur.execute("INSERT INTO test VALUES (?,?,?,?,?);", (6,'aq@daum.net','Hong','Lee', 40))
ag = 'INSERT INTO test VALUES (?,?,?,?,?);'
vals = [(11,'d@naver.com','Heesu','Kim', 50), (12,'aq@daum.net','Hong','Lee', 40)]
## 리스트로 여러 개의 튜플을 집어넣을 수 있음.
cur = con.cursor()  ## create instance
cur.executemany(ag, vals)  ## insert many tuples
cur.execute("SELECT * FROM TEST")
print(cur.fetchall())  ## debuging