### KOCW 데이터베이스 시연(`Python`)

In [61]:
import sqlite3
import pandas as pd

In [62]:
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""

In [63]:
con = sqlite3.connect('kocw.db')

In [64]:
cur = con.cursor()
cur.execute(sql_query)
con.execute("PRAGMA foreign_keys = 1")
print(cur.fetchall())

[('university',), ('professor',), ('norm_course',), ('course_classed',), ('charge',)]

In [65]:
cur.execute(sql_query)
cur.fetchall()

[('university',),
 ('professor',),
 ('norm_course',),
 ('course_classed',),
 ('charge',)]

In [66]:
cur.execute("SELECT * FROM professor LIMIT 5")
cur.fetchall()

[(0, '안상욱', '자연계열', '한경대학교'),
 (1, '이중호', '자연계열', '가천대학교'),
 (2, '최수한', '자연계열', '단국대학교'),
 (3, '김문현', '자연계열', '성균관대학교'),
 (4, '이상준', '자연계열', '덕성여자대학교')]

In [70]:
cur.execute("INSERT INTO professor VALUES (-1, '강신성', '자연계열', '전북대학교');")
cur.execute("SELECT * FROM professor LIMIT 300 OFFSET 8670")

IntegrityError: UNIQUE constraint failed: professor.교수코드

In [69]:
cur.execute("SELECT * FROM professor LIMIT 10")
cur.fetchall()

[(-1, '강신성', '자연계열', '전북대학교'),
 (0, '안상욱', '자연계열', '한경대학교'),
 (1, '이중호', '자연계열', '가천대학교'),
 (2, '최수한', '자연계열', '단국대학교'),
 (3, '김문현', '자연계열', '성균관대학교'),
 (4, '이상준', '자연계열', '덕성여자대학교'),
 (5, '나성호', '자연계열', '과학기술연합대학원대학교'),
 (6, '강주성', '자연계열', '국민대학교'),
 (7, '박원광', '자연계열', '국민대학교'),
 (8, '임완수', '자연계열', '금오공과대학교')]

In [48]:
rows = cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
tables = [row[0] for row in rows]
print(tables)

def sql_identifier(s):
    return '"' + s.replace('"', '""') + '"'

for table in tables:
    print("table: " + table)
    rows = cur.execute("PRAGMA table_info({})".format(sql_identifier(table)))
    print(rows.fetchall())
    rows = cur.execute("PRAGMA foreign_key_list({})".format(sql_identifier(table)))
    print(rows.fetchall())

['professor', 'course_classed', 'norm_course', 'charge', 'university']
table: professor
[(0, '교수코드', 'INTEGER', 0, None, 0), (1, '담당교수명', 'TEXT', 0, None, 0), (2, '담당분야', 'TEXT', 0, None, 0), (3, '제공대학명', 'TEXT', 0, None, 0)]
[]
table: course_classed
[(0, '강의명', 'TEXT', 0, None, 0), (1, '교육분류', 'TEXT', 0, None, 0)]
[]
table: norm_course
[(0, '강의코드', 'INTEGER', 0, None, 0), (1, '강의명', 'TEXT', 0, None, 0), (2, '강의년도', 'INTEGER', 0, None, 0), (3, '강의학기', 'INTEGER', 0, None, 0), (4, '제공대학명', 'TEXT', 0, None, 0), (5, '제공일자', 'TEXT', 0, None, 0)]
[]
table: charge
[(0, '교수코드', 'INTEGER', 0, None, 0), (1, '강의코드', 'INTEGER', 0, None, 0)]
[]
table: university
[(0, '제공대학명', 'TEXT', 0, None, 0), (1, '대학소재지(시/도)', 'TEXT', 0, None, 0), (2, '사립/국립 구분', 'TEXT', 0, None, 0)]
[]