### KOCW 데이터베이스 시연(`Python`)

In [1]:
import sqlite3
import pandas as pd

In [2]:
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""

In [148]:
professor_df = pd.read_excel("/Users/99ksh/TDB/professor.xlsx")
course_classed_df = pd.read_excel("/Users/99ksh/TDB/course_classed.xlsx")
norm_course_df = pd.read_excel("/Users/99ksh/TDB/norm_course.xlsx")
charge_df = pd.read_excel("/Users/99ksh/TDB/charge.xlsx")
university_df = pd.read_excel("/Users/99ksh/TDB/university.xlsx")

In [149]:
professor_df = professor_df.iloc[:, 1:]
course_classed_df = course_classed_df.iloc[:, 1:]
norm_course_df = norm_course_df.iloc[:, 1:]
charge_df = charge_df.iloc[:, 1:]
university_df = university_df.iloc[:, 1:]

In [3]:
con = sqlite3.connect('kocw.db')

In [151]:
cur = con.cursor()
cur.execute(sql_query)
con.execute("PRAGMA foreign_keys = 1")
print(cur.fetchall())

[]

In [153]:
cur.execute("DROP TABLE IF EXISTS charge")
cur.execute("DROP TABLE IF EXISTS norm_course")
cur.execute("DROP TABLE IF EXISTS course_classed")
cur.execute("DROP TABLE IF EXISTS professor")
cur.execute("DROP TABLE IF EXISTS university")

In [133]:
university = """ CREATE TABLE university (
            제공대학명 CHAR(50) PRIMARY KEY,
            대학소재지(시/도) CHAR(50) ,
            사립/국립 구분 CHAR(50)
        ); """

In [134]:
professor = """ CREATE TABLE professor (
            교수코드 INTEGER PRIMARY KEY,
            담당교수명 CHAR(50) ,
            담당분야 CHAR(50),
            소속대학명 CHAR(50),
            FOREIGN KEY (소속대학명) REFERENCES university (제공대학명)
                ON UPDATE CASCADE
                ON DELETE SET NULL
        ); """

In [135]:
norm_course = """ CREATE TABLE norm_course (
    강의코드 INTEGER PRIMARY KEY,
    강의명 CHAR(50),
    교육분류 CHAR(50),
    강의년도 INTEGER,
    강의학기 INT,
    제공대학명 CHAR(50),
    제공일자 DATE,
    FOREIGN KEY (제공대학명) REFERENCES university (제공대학명)
    
        ); """

In [136]:
charge = """ CREATE TABLE charge (
    교수코드 INTEGER,
    강의코드 INTEGER,
    PRIMARY KEY (교수코드, 강의코드),
    FOREIGN KEY (교수코드) REFERENCES professor (교수코드)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    FOREIGN KEY (강의코드) REFERENCES nomr_course (강의코드)
        ON UPDATE CASCADE
        ON DELETE CASCADE
        ); """

In [140]:
course_classed  = """ CREATE TABLE course_classed (
    강의명 CHAR(50) PRIMARY KEY,
    교육분류 CHAR(50)
        ); """

In [141]:
professor_df.to_sql('professor', con, if_exists='replace', index=False)
course_classed_df.to_sql('course_classed', con, if_exists='replace', index=False)
norm_course_df.to_sql('norm_course', con, if_exists='replace', index=False)
charge_df.to_sql('charge', con, if_exists='replace', index=False)
university_df.to_sql('university', con, if_exists='replace', index=False)

186

In [6]:
cur.execute(sql_query)
cur.fetchall()

[('professor',),
 ('course_classed',),
 ('norm_course',),
 ('charge',),
 ('university',)]

In [144]:
conn.close

In [4]:
con = sqlite3.connect('kocw.db')
cur = con.cursor()

In [7]:
cur.execute("SELECT * FROM professor LIMIT 5")
cur.fetchall()

[(0, '안상욱', '자연계열', '한경대학교'),
 (1, '이중호', '자연계열', '가천대학교'),
 (2, '최수한', '자연계열', '단국대학교'),
 (3, '김문현', '자연계열', '성균관대학교'),
 (4, '이상준', '자연계열', '덕성여자대학교')]

In [46]:
cur.execute("INSERT INTO professor VALUES (-1, '강신성', '자연계열', '전북대학교');")
cur.execute("SELECT * FROM professor LIMIT 300 OFFSET 8670")

In [48]:
rows = cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
tables = [row[0] for row in rows]
print(tables)

def sql_identifier(s):
    return '"' + s.replace('"', '""') + '"'

for table in tables:
    print("table: " + table)
    rows = cur.execute("PRAGMA table_info({})".format(sql_identifier(table)))
    print(rows.fetchall())
    rows = cur.execute("PRAGMA foreign_key_list({})".format(sql_identifier(table)))
    print(rows.fetchall())

['professor', 'course_classed', 'norm_course', 'charge', 'university']
table: professor
[(0, '교수코드', 'INTEGER', 0, None, 0), (1, '담당교수명', 'TEXT', 0, None, 0), (2, '담당분야', 'TEXT', 0, None, 0), (3, '제공대학명', 'TEXT', 0, None, 0)]
[]
table: course_classed
[(0, '강의명', 'TEXT', 0, None, 0), (1, '교육분류', 'TEXT', 0, None, 0)]
[]
table: norm_course
[(0, '강의코드', 'INTEGER', 0, None, 0), (1, '강의명', 'TEXT', 0, None, 0), (2, '강의년도', 'INTEGER', 0, None, 0), (3, '강의학기', 'INTEGER', 0, None, 0), (4, '제공대학명', 'TEXT', 0, None, 0), (5, '제공일자', 'TEXT', 0, None, 0)]
[]
table: charge
[(0, '교수코드', 'INTEGER', 0, None, 0), (1, '강의코드', 'INTEGER', 0, None, 0)]
[]
table: university
[(0, '제공대학명', 'TEXT', 0, None, 0), (1, '대학소재지(시/도)', 'TEXT', 0, None, 0), (2, '사립/국립 구분', 'TEXT', 0, None, 0)]
[]

In [47]:
cur.fetchall()

[(8908, '서원호', '공학계열', '한양대학교'),
 (8909, '김주일', '공학계열', '한동대학교'),
 (8910, '여창환', '공학계열', '동아대학교'),
 (8911, '조형규', '공학계열', '창원대학교'),
 (8912, '김희영', '자연계열', '고려대학교'),
 (8913, '좌수경', '자연계열', '울산과학대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교'),
 (-1, '강신성', '자연계열', '전북대학교')]

In [49]:
con = sqlite3.connect('RDB.db')
cur = con.cursor()

In [50]:
rows = cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
tables = [row[0] for row in rows]
print(tables)

def sql_identifier(s):
    return '"' + s.replace('"', '""') + '"'

for table in tables:
    print("table: " + table)
    rows = cur.execute("PRAGMA table_info({})".format(sql_identifier(table)))
    print(rows.fetchall())
    rows = cur.execute("PRAGMA foreign_key_list({})".format(sql_identifier(table)))
    print(rows.fetchall())

['university', 'norm_course', 'professor', 'charge', 'course_classed']
table: university
[(0, '제공대학명', 'TEXT', 0, None, 1), (1, '대학소재지', 'TEXT', 0, None, 0), (2, '구분', 'TEXT', 0, None, 0)]
[]
table: norm_course
[(0, '강의코드', 'INTEGER', 0, None, 1), (1, '강의명', 'TEXT', 0, None, 0), (2, '강의년도', 'INTEGER', 0, None, 0), (3, '강의학기', 'INTEGER', 0, None, 0), (4, '제공일자', 'TEXT', 0, None, 0), (5, '제공대학명', 'TEXT', 0, None, 0)]
[(0, 0, 'university', '제공대학명', '제공대학명', 'NO ACTION', 'NO ACTION', 'NONE')]
table: professor
[(0, '교수코드', 'INTEGER', 0, None, 1), (1, '담당교수명', 'TEXT', 0, None, 0), (2, '담당분야', 'TEXT', 0, None, 0), (3, '제공대학명', 'TEXT', 0, None, 0)]
[(0, 0, 'university', '제공대학명', '제공대학명', 'CASCADE', 'SET NULL', 'NONE')]
table: charge
[(0, '교수코드', 'INTEGER', 0, None, 1), (1, '강의코드', 'INTEGER', 0, None, 2)]
[(0, 0, 'norm_course', '강의코드', '강의코드', 'CASCADE', 'CASCADE', 'NONE'), (1, 0, 'professor', '교수코드', '교수코드', 'CASCADE', 'CASCADE', 'NONE')]
table: course_classed
[(0, '강의명', 'TEXT', 0, None, 1), (1, '교육분류', 'TEXT', 0, None, 0)]
[]